/Ciclo2/Semana1/SolidVolume1/build/
/Ciclo2/Semana1/AreaWagon/nbproject/private/
/Ciclo2/Semana1/Areas/nbproject/private/
/Ciclo2/Semana1/Areas/build/
/Ciclo2/Semana1/Funciones/Problems/nbproject/private/
/Ciclo2/Semana1/Funciones/Problems/build/
/Ciclo2/Semana1/Funciones/Areas/build/
/Ciclo2/Semana1/Funciones/Areas/nbproject/private/
/Ciclo2/Semana1/Funciones/SolidVolume1/build/
/Ciclo2/Semana1/Funciones/SolidVolume1/nbproject/private/
/Ciclo2/Semana1/Condicionales/nbproject/private/
/Ciclo2/Semana1/Condicionales/build/
/Ciclo2/Semana1/Reto1/nbproject/private/
/Ciclo2/Semana1/Reto1/build/
/Ciclo2/Semana1/CicloWhile/nbproject/private/
/Ciclo2/Semana1/CicloWhile/build/
/Ciclo2/Semana1/CicloWhile/dist/