#data-table {
  padding: var(--p-medium);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

#table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--p-medium);
  table-layout: fixed;
}

.table-title {
  padding: 0.25rem;
  text-align: left;
  border-bottom: 2px solid var(--color-dark-3);
}

.table-cell {
  padding: 0.25rem;
  margin: 0;
  border-bottom: 2px solid var(--color-dark-3);
}

.table-cell > .icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.table-cell > .icon:hover {
  filter: brightness(80%);
}
